{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="/css/home.css" />

  <div class="home c">
    {% for item in site.categories['blog'] | sort(attribute='datetime', reverse=True) %}
      <div class="view c">
        <a href="{{ item.url }}">
          <img src="{{ item.image.url }}">
          <div class="mask">
            <h3>{{ item.title }}</h3>
            <p>{{ item.image.caption }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
